<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TheSetup</title>

<!-- Le styles -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow>hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
</style>
<body>

    <div class="container-narrow">

        <hr>

        <div class="jumbotron">
            <h1>TheSetup</h1>
            {{#workspaces}}
            <p><a class="btn btn-large btn-success" href="workspace/{{path}}/setup.zip">Download {{name}} setup</a></p>
            {{/workspaces}}
        </div>
        
        <hr>

    </div>


</body>
</html>