@echo off

if "%INSTALLER_ENV_SET%" == "true" ( goto skip_env )

SET INSTALLER_HOME=.\
SET INSTALLER_WORK=%temp%\thesetup
SET WORKSPACE_URL_PATH={{url}}/workspace/{{path}}
SET PACKAGES_URL_PATH={{url}}/workspace/{{path}}/packages
SET RESOURCES_URL_PATH={{url}}/resources

SET WORKBENCH_HOME={{dir}}
SET WORKBENCH_TOOLS=%WORKBENCH_HOME%\tools
SET WORKBENCH_RESOURCES=%WORKBENCH_HOME%\resources

SET WORKSPACE_HOME=%WORKBENCH_HOME%\workspaces\{{path}}
SET WORKSPACE_TOOLS=%WORKSPACE_HOME%\tools
SET WORKSPACE_ENV=%WORKSPACE_HOME%\env
SET WORKSPACE_PROJECTS=%WORKSPACE_HOME%\projects
SET WORKSPACE_RESOURCES=%WORKSPACE_HOME%\resources

SET PATH=%INSTALLER_HOME%\bin;%PATH%;

:skip_env
SET INSTALLER_ENV_SET=true

if not exist %INSTALLER_WORK% 		(mkdir %INSTALLER_WORK%)

if not exist %WORKBENCH_TOOLS% 		(mkdir %WORKBENCH_TOOLS%)
if not exist %WORKBENCH_RESOURCES%	(mkdir %WORKBENCH_RESOURCES%)

if not exist %WORKSPACE_TOOLS% 		(mkdir %WORKSPACE_TOOLS%)
if not exist %WORKSPACE_ENV% 		(mkdir %WORKSPACE_ENV%)
if not exist %WORKSPACE_PROJECTS%	(mkdir %WORKSPACE_PROJECTS%)
if not exist %WORKSPACE_RESOURCES%	(mkdir %WORKSPACE_RESOURCES%)
